
<h5 class="entry-title"><%= entry.escape("title") %></h5>
<em class="author"><%= entry.escape("author") %></em>
<p class="published"> <%= entry.escape("published_at") %></p>

<a href="<%=entry.escape("guid")%>" class="link"><%= entry.escape("guid") %></a>

<br><br><br>
