<h1>RSSReader</h1>
<ul>
<% @entries.map do |entry| %>
  <li class="entry">
    <a href="<%= entry[:link] %>">
      <h3><%= entry[:title] %></h3>
    </a>

    <section>
      <% if entry[:author] %>
      <p><%= entry[:author] %></p>
      <% end %>

      <p><%= entry[:description].html_safe %></p>
      <p class="date"><%= entry[:date] %></p>
    </section>
  </li>
<% end %>
</ul>
