<p>
  <b>Title:</b>
  <%= @feed.title %>
</p>

<p>Hover over links for a preview.</p>

<% @feed.posts.each do |post| %>
  <div id="posts">
    <span data-toggle="tooltip" data-placement="top" title="<%= post.preview %>">
      <%= link_to raw(post.title), feed_post_path(post) %>
    </span>
  </div>
<% end %>


<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
